[flake8]
# for compatibility with Black see 
# https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#line-length
max-line-length = 88
extend-ignore = 203

per-file-ignores =
    # unused imports used by alembic in main.py
    services/api/main.py: F401

    # need to append to sys.path before importing
    ci_cd/test/test_api_unit.py: E402
