:root {
  --bg-color: rgb(38, 36, 43);
  --default-text-color: rgb(181, 219, 207);
  --grey: rgb(56, 53, 63);
  --light-grey: rgb(94, 89, 105);
  --blue: rgb(69, 92, 177);
  --pink: rgb(204, 170, 198);
}

html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 10px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

* {
  font-family: Helvetica, Arial, sans-serif;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1rem;
  vertical-align: baseline;
  text-decoration: none;
  color: var(--default-text-color)
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--light-grey);
}

a, .nav-links li { transition: all .1s ease-in-out; }

a:hover, .nav-links li:hover { transform: scale(1.05); }

button {
  padding: .3rem;
  width: fit-content;
  background-color: var(--bg-color);
  border: 1px solid var(--default-text-color);
  border-radius: 3px;
  color: var(--default-text-color);
  font-size: 1rem;
}

.hidden {
  visibility: hidden;
}

.logo {
  max-width: 75px;
  margin-right: auto;
}

.profile-btn {
  margin-left: 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: 0 2rem;
}
