.dashboard-container {
  width: fit-content;
  background-color: var(--bg-color);
  margin: 4rem auto;
  display: grid;
  grid-template-columns: repeat(3, min-content);
  border: solid 1px var(--light-grey);
}


.left-side-bar {
  position: relative;
  padding: 0 1rem 1rem;
}

.left-chevron-btn {
  width: min-content;
  margin-left: auto;
  padding: .25rem;
}

/* button hover */
.dropdown-btn { transition: all .1s ease-in-out; }
.dropdown-btn:hover { transform: scale(1.05); }

.dropdown-btn, .dropdown, .checkbox-wrap, button {
  white-space: nowrap;
}

.dropdown-wrap {
  margin-bottom: 1rem;
}
.dropdown {
  white-space: nowrap;
}

.dropdown-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.graph-container {
  padding: 1rem;
  width: 600px;
  border: 1px solid var(--pink);
  grid-area: 1 / 2 / 2 / 3;
}

.right-side-bar {
  padding: 1rem;
  max-width: fit-content;
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.analysis-header {
  margin-bottom: 2rem;
  align-self: center;
}

.edit-station-window {
  position: absolute;
  left: 90%;
  background-color: var(--grey);
  padding: 2rem;
  width: fit-content;
  white-space: nowrap;
  display: grid;
  grid-template-columns: 2 1fr;
  grid-template-rows: repeat(5 1fr);
  gap: .3rem;
}

.add-remove-zip-input-wrap {
  display: flex;
  flex-direction: row;
  grid-area: 2 / 1 / 3 / 2;
  align-items: center;
}

input[name="zipcode-input"] {
  width: 4rem;
  margin-left: .5rem;
}

.edit-station-window h5 {
  margin: .7rem 0 .3rem;
}

.edit-station-window input[type="submit"] {
  margin-top: .3rem;
}


ul.add-station-pollutant {
  display: flex;
  flex-direction: row;
  margin-left: 1.4rem;
  gap: .7rem
}

li.add-station-pollutant {
  font-size: .8rem;
  color: var(--light-text-color);
  list-style: none;
}
